.languages {
    top: 0;
    left: 0;
    height: 48px;
    padding-left: 24px;
    width: 80px;
    display: flex;
    flex-direction: row;
    @media (max-width: 560px) {
        grid-area: languages;
        padding: 0;
        height: 34px;
        width: 70px;
    }
}
.languages button {
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    background: linear-gradient(252.44deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.5) 100%);
}
button:hover {
    cursor: pointer;
    background-color: grey;
}
.russian {
    border-radius: 16px 0 0 16px;
}
.english {
    border-radius: 0 16px 16px 0;
}
