.wrapper {
    position: relative;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 560px) {
        display: grid;
        grid-template-areas:
                "languages"
                "search";
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 20px;
    }
}
.search {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding-right: 24px;
    @media (max-width: 560px) {
        padding-right: 12px;
        grid-area: search;
        justify-self: center;
    }
}
.icon {
    max-width: 20px;
    height: 20px;
    position: absolute;
    padding-right: 16px;
    @media (max-width: 560px) {
        width: 20px;
        height: 20px;
    }
}
.icon:hover {
    cursor: pointer;
}
input {
    flex: 1;
    height: 48px;
    background: linear-gradient(252.44deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.5) 100%);
    opacity: 0.6;
    border-radius: 16px;
    border: none;
    text-indent: 24px;
    font-size: 16px;
    outline: none;
    @media (max-width: 560px) {
        height: 40px;
    }
}
input:focus::-webkit-input-placeholder {
    color:transparent;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
            url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: dimgrey;
    padding: 12px 0;
}

