.wrapper {
    position: relative;
    height: 54%;
    max-width: 750px;
    width: auto;
    padding: 70px;
    margin: 100px auto 100px;
    background: linear-gradient(252.44deg, rgba(239, 255, 253, 0.7) 0%, rgba(239, 255, 253, 0) 100%);
    backdrop-filter: blur(40px);
    border-radius: 85px;
    display: flex;
    flex-direction: column;
    color: white;
    @media (max-width: 1070px) {
       max-width: 700px;
        padding: 50px;
    }
    @media (max-width: 560px) {
        max-width: 294px;
        height: 500px;
        padding: 20px;
        border-radius: 35px;
    }
}
.container {
    flex: 1 1 auto;
}
@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
    url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}
p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgba(242, 251, 255, 0.7);
    line-height: 15px;
}
span {
    font-size: 20px;
    @media (max-width: 670px) {
        font-size: 18px;
    }
}
.high span {
    font-weight: bold;
    font-size: 28px;
    @media (max-width: 670px) {
        font-size: 24px;
    }
    @media (max-width: 560px) {
        font-size: 22px;
    }
}
.high p {
    font-size: 28px;
    line-height: 32px;
    padding: 8px 0;
    margin: 0;
    @media (max-width: 670px) {
        font-size: 24px;
    }
    @media (max-width: 560px) {
        font-size: 22px;
        line-height: 22px;
        padding: 8px 0;
        text-align:center;
    }
}
.low {
    margin-top: 50px;
    @media (max-width: 560px) {
        margin-top: 140px;
    }
}
.low p {
    font-size: 24px;
    @media (max-width: 670px) {
        font-size: 18px;
    }
    @media (max-width: 560px) {
        font-size: 18px;
        text-align:left;
    }
}
.row {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    @media (max-width: 560px) {
        display: block;
        margin-top: 60px;
    }
}
.right {
    display: flex;
    flex-direction: column;
    @media (max-width: 560px) {
        margin-top: -230px;
        flex-direction: row;
        align-items: center;
    }
}
.right p {
    font-size: 120px;
    margin: 100px 0 40px;
    @media (max-width: 815px) {
        font-size: 100px;
    }
    @media (max-width: 700px) {
        font-size: 85px;
    }
    @media (max-width: 560px) {
        font-size: 80px;
        margin: 0;
    }

}
.right img {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}
.forecastButton {
    width: 100%;
    height: 48px;
    min-width: 64px;
    border-radius: 16px;
    background: linear-gradient(252.44deg, rgba(226, 255, 251, 0.4) 0%, rgba(226, 255, 251, 0.1) 100%);
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    @media (max-width: 560px) {
        height: 44px;
    }
}
.forecastButton:hover {
    background-color: rgba(28, 116, 203, 0.37);
}
.forecastButton p {
    color: white;
}
.wrapper h1, h2 {
    text-align: center;
    font-weight: normal;
}
.wrapper h1 {
    font-size: 38px;
    margin: 20px 0 0 0;
    @media (max-width: 560px) {
       font-size: 30px;
       margin: 10px 0 0 0;
    }
}
.wrapper h2 {
    font-size: 26px;
    margin: 0;
    @media (max-width: 560px) {
       font-size: 22px;
    }
}
.forecast {
    display:flex;
    justify-content:space-between;
    padding: 0 50px;
    color: white;
    @media (max-width: 1800px) {
        padding: 0 ;
    }
    @media (max-width: 560px) {
        flex-direction: column;
        padding: 15px 0 0 0;
    }
}
.forecastItem {
    text-align:center;
        @media (max-width: 560px) {
        margin-bottom: 20px;
        padding: 0;
        display: grid;
        grid-template-areas:
                "icon date"
                "icon temperature";
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}
.forecastItem h3 {
    font-size: 26px;
    font-weight: normal;
    text-transform: capitalize;
    @media (max-width: 560px) {
       font-size: 22px;
        padding-top: 10px;
        margin: 0;
        grid-area: date;
    }
}
.forecastItem p {
    font-size: 26px;
    color: white;
    @media (max-width: 560px) {
        font-size: 24px;
        grid-area: temperature;
        margin: 0;
        padding-top: 10px;
    }
}
.forecastItem img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    @media (max-width: 560px) {
        width: 90px;
        height: 90px;
        grid-area: icon;
    }
}
.error {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    @media (max-width: 560px) {
        font-size: 24px;
        padding-top: 80px;
        margin: 0;
    }
}